src/**/*.js
src/**/*.js.map

target/
./**/target/*.class
*.class
.targets/
project/target/
core/target/

/it/testing.conf
tmp
**/.DS_Store
.cache
.tm_properties
.classpath
.project
.settings
*.sw*
tags
.envrc

node_modules
